.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.topContainer {
  /* background-color: #FFB8DE; */
  background-color: #ACD7EC;

  /* background-color: #e1bee7; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 3rem; */
  /* width: 80%; */
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading {
  align-self: center;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}

.inputElement {
  padding: 0.6rem;
}

.googleSearchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-self: center;
  width: 80%;
}

.googleBooksButton {
  padding: 0.6rem;
  background-color: #0e1111;
  color: snow;
  border-radius: 2px;
}

.googleBooksButton:hover {
  transform: none;
}

.googleBooksButton:active {
    transform: none;
}

.notFoundText {
  align-self: center;
  margin: 1em 0;
}

.manualAddButton {
  padding: 0.3rem 0.6rem;
  background-color: snow;
  border-radius: 2px;
  align-self: center;
  margin-bottom: 1.5rem;
}

.backIconContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.booklistContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width:400px){
  .topContainer {
    width: 400px;
    border-radius: 3px;
    /* margin: 0 auto; */
  }
}

@media (min-width: 800px){
  .booklistContainer {
    width: 800px;
    margin: 0 auto;
  }
}