.container {
  
}

.detailsContainer {
  background-color: white;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.9rem;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  font-size: 3rem;
  margin: 1rem;

}
