.book {
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: snow;
    margin: 0.5rem;
    padding: 0.5rem;
}

.imageReplacer {
    display: flex;
    width: 64px;
    height: 100px;
    background-color: #EFCFE3;
    align-items: center;
    text-align: center;
}

.bookTextContainer {
    flex-grow: 1;
    margin-left: 1em;
}

.deleteIcon {
    font-size: 2em;
    margin-right: 0.5em;
}

.checkbox {
    margin-left: 1rem;
}