.container {
  padding: 0.5rem;
}

.detailsContainer {
  background-color: white;
  border-radius: 5px;
  padding: 0.9rem;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  font-size: 3rem;
  margin: 1rem;

}

@media (min-width: 600px){
  .detailsContainer {
    width: 600px;
    margin: 0.5rem auto;
    padding: 1.5rem;
  }
}