html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, img, 
form, nav, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Cantarell, Ubuntu, Oxygen, Segoe UI, Roboto, -apple-system, BlinkMacSystemFont,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* body {
  background-color: #ACD7EC;
} */

body {
  background-color: #ACD7EC;
  background-image: url("/books.png");
  /* min-height: 100vh; */
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
	background: snow;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: all .2s ease-in-out; 
}

button:hover {
  transform: scale(1.05);
}

button:active {
  background-color: black;
  color: snow;
  
}

.backIcon {
  font-size: 3rem;
  transition: all .2s ease-in-out; 

}

.backIcon:hover {
  transform: scale(1.1);
}

.backIcon:active {
  transform: scale(1.2);
}


@media (min-width: 900px){
  body {
    background-attachment: fixed;
  }
}


