

.container {
  display: flex;
  flex-direction: column;
  /* background-color: #ACD7EC; */
}

.topContainer {
  background-color: #ACD7EC;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.addBooks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.addIcon {
  font-size: 7rem;
  color: black;
  /* margin-right: 1rem; */
  transition: all .2s ease-in-out; 
}

.addIcon:hover {
  transform: scale(1.1); 
}

.addIcon:active {
  transform: scale(1.2); 
}

.addBooksText {
  color: black;
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.toggleReadButton { 
  border: none;
  background-color: #FFFAFA;
  padding: 0.7rem;
  border-radius: 5px;
}

@media (min-width:400px){
  /* .container {
      width: 400px;
      margin: 0 auto;
  } */
  
  .topContainer {
    /* width: 100vw; */
    /* width: 500px; */
    align-self: center;
    padding: 2rem 1rem;
    width: 400px;

    border-radius: 3px;
  }

  .addBooks:hover {
    transform: scale(1.05);
  }

  .addBooks:active {
    transform: scale(1.1);
  }
  
  .addIcon {
    /* margin-right: 1rem; */
    transition: all .2s ease-in-out; 
  }
  
  .addIcon:hover {
    transform: scale(1); 
  }
  
  .addIcon:active {
    transform: scale(1); 
  }
  
}


@media (min-width:600px){
  .container {
/*     width: 500px; */
    min-height: 100vh;  
  }

  .topContainer {
    margin: 3rem 0;
  }
}