

.container {
  display: flex;
  flex-direction: column;
  background-color: #ACD7EC;
}

.headingWrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 1rem 0.5rem 1rem;
}

.heading {
  font-size: 3rem;
}

.addBooks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2rem;
  transition: all .2s ease-in-out;
}

.addBooks:hover {
  /* transform: scale(1.1); */
}

.addIcon {
  font-size: 7rem;
  /* margin-right: 1rem; */
  transition: all .2s ease-in-out; 
}

.addIcon:hover {
  transform: scale(1.1); 
}

.addIcon:active {
  transform: scale(1.2); 
}

.addBooksText {
  color: #006BA6;
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.toggleReadButton { 
  border: none;
  background-color: #FFFAFA;
  padding: 0.7rem;
  border-radius: 5px;
}

@media (min-width:400px){
  .container {
      width: 400px;
      margin: 0 auto;
  }
  
  .addBooks:hover {
    transform: scale(1.05);
  }

  .addBooks:active {
    transform: scale(1.1);
  }
  
  .addIcon {
    font-size: 7rem;
    /* margin-right: 1rem; */
    transition: all .2s ease-in-out; 
  }
  
  .addIcon:hover {
    transform: scale(1); 
  }
  
  .addIcon:active {
    transform: scale(1); 
  }
  
  .addBooksText {
    color: #006BA6;
    text-decoration: underline;
  } 
}


@media (min-width:600px){
  .extraContainer {
    background-image: url("/books.avif");
    /* background-attachment: fixed; */
/*     background-repeat: no-repeat;
    background-position: center; */
    /* height: 100vh; */
  }

  .container {
    width: 500px;
    min-height: 100vh;
  }
}