.main {
  background-image: url("/books.avif");
  /* background-attachment: fixed; */
/*     background-repeat: no-repeat;
    background-position: center; */
  /* height: 100vh; */
  min-height: 100vh;
}

@media (min-width: 900px){
  .main {
    background-image: url("/books.avif");
    background-attachment: fixed;
  /*     background-repeat: no-repeat;
      background-position: center; */
    /* height: 100vh; */
    /* min-height: 100vh; */
  }
}