.bookContainer {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    align-items: center;
    background-color: snow;
    margin: 0.5rem;
    padding: 0.5rem;
}

.bookContainer:hover {
    cursor: pointer;
}



.imageReplacer {
    display: flex;
    flex-shrink: 0;
    width: 128px;
    height: 200px;
    background-color: #EFCFE3;
    align-items: center;
    justify-content: center;
}

.bookIcon {
    font-size: 3rem;
}

.textAndButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    min-height: 200px;
    margin-left: 0.5rem;
}

.textContainer {
    flex-grow: 1;
}

.textContainer p {
    margin: 8px;
}

.titleText {
    font-weight: bold;
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.authorText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.descriptionText {
    /* display: block;
    
    overflow: hidden;
    word-wrap: break-word;
    min-height: 0;
    max-height: 48px;
    line-height: 16px; */
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.addBookButton {
    background-color: #d81159;
    padding: 0.1rem 0.3rem;
    border-radius: 2px;
    color: snow;
    font-weight: 600;
    margin: 0.2rem;
    align-self: flex-end; 
}

.addedText {
    margin: 0.2rem;
    align-self: flex-end; 
}