.bookContainer {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    align-items: center;
    background-color: snow;
    margin: 0.5rem;
    padding: 0.5rem;
}

.imageReplacer {
    display: flex;
    width: 128px;
    height: 200px;
    background-color: #EFCFE3;
    align-items: center;
    text-align: center;
}

.bookContainer__text {
    /* display: flex;
    flex-direction: column; */
    margin-left: 0.5rem;
}

.addBookButton {
    background-color: #d81159;
    padding: 0.1rem 0.3rem;
    border-radius: 2px;
    color: snow;
    font-weight: 600;
    /* align-self: flex-end;
    margin: 1rem; */
}