.bookContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 5px;
}

.imageReplacer {
    display: flex;
    width: 128px;
    height: 200px;
    background-color: lightblue;
    align-items: center;
    text-align: center;
}

.bookContainer__text {
    margin-left: 0.5rem;
}